.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}

@media all and (max-width: 1320px) {
  .container {
    max-width: 1200px;
  }
}

@media all and (max-width: 1200px) {
  .container {
    max-width: 1140px;
    width: 100%;
  }
}

@media all and (max-width: 992px) {
  .container {
    max-width: 960px;
    width: 100%;
  }
}

@media all and (max-width: 576px) {
  .container {
    width: 100%;
    margin: 0;
  }
}

body {
  font-family: 'Orbitron';
  color: #FFFFFF;
}

a {
  font-family: 'Orbitron';
  color: #FFFFFF;
}

.header,
.main {
  background: -webkit-gradient(linear, left top, right top, color-stop(55.97%, black), color-stop(44.03%, #57B8FF));
  background: linear-gradient(to right, black 55.97%, #57B8FF 44.03%);
  width: 100%;
  height: 100%;
}

.header {
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  padding-top: 20px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 768px) {
  .header {
    overflow: hidden;
    background: #373A3C;
    padding-top: 0px;
  }
}

@media all and (max-width: 992px) {
  .logo {
    padding-left: 15px;
  }
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 47px;
}

@media all and (max-width: 1200px) {
  .actions {
    padding-right: 20px;
  }
}

@media all and (max-width: 992px) {
  .actions {
    padding-right: 10px;
  }
}

@media all and (max-width: 768px) {
  .actions {
    padding-right: 0px;
  }
}

.actions a::after {
  content: "\f07a";
  font-family: "FontAwesome";
  color: inherit;
  font-size: 32px;
}

.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 60px;
}

@media all and (max-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    background: #373A3C;
  }
}

.nav {
  max-height: 0;
  -webkit-transition: max-height .5s ease-out;
  transition: max-height .5s ease-out;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.menu {
  width: 510px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 168px;
}

@media all and (max-width: 1200px) {
  .menu {
    width: 450px;
    margin-right: 100px;
  }
}

@media all and (max-width: 992px) {
  .menu {
    width: 360px;
    margin-right: 40px;
  }
}

@media all and (max-width: 768px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0px;
    width: 100px;
  }
}

.menu a {
  display: block;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.menu a:hover {
  color: #FAC422;
}

@media all and (max-width: 1200px) {
  .menu a {
    font-size: 15px;
  }
}

@media all and (max-width: 992px) {
  .menu a {
    font-size: 13px;
  }
}

@media all and (max-width: 768px) {
  .menu a {
    border-bottom: 2px solid #FAC422;
    font-size: 24px;
  }
}

.menu li {
  position: relative;
}

@media all and (max-width: 768px) {
  .menu li {
    text-align: center;
    padding-bottom: 30px;
  }
}

.menu > li:hover .menu__subitem {
  opacity: 1;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.menu__item:after {
  content: "\f107";
  font-family: "FontAwesome";
  color: inherit;
  margin-left: 10px;
  color: #8DD83D;
}

.menu__item:hover::after {
  content: "\f106";
  font-family: "FontAwesome";
  color: #8DD83D;
}

.menu__subitem {
  background: #373A3C;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 5;
  width: 180px;
  opacity: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.menu__subitem a {
  color: white;
  text-align: left;
  padding: 12px 15px;
  font-size: 13px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
  .menu__subitem a:hover {
    background-color: transparent;
    color: gray;
  }
}

.menu__subitem li:last-child a {
  border-bottom: none;
}

.menu__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 768px) {
  .menu__actions {
    padding-top: 30px;
  }
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__btn button {
  padding: 16px 31px;
  background: none;
  border: 1px solid #ffffff;
}

@media all and (max-width: 1200px) {
  .menu__btn button {
    padding: 14px 28px;
  }
}

@media all and (max-width: 992px) {
  .menu__btn button {
    padding: 13px 26px;
  }
}

.menu__btn button a {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
}

@media all and (max-width: 1200px) {
  .menu__btn button a {
    font-size: 16px;
    line-height: 15px;
  }
}

.menu__btn-cart {
  display: none;
  color: #FFFFFF;
}

@media all and (max-width: 768px) {
  .menu__btn-cart {
    display: block;
  }
}

.menu__btn-cart._show-cart {
  display: block;
}

@media all and (max-width: 768px) {
  .menu__btn-cart._show-cart {
    display: none;
  }
}

/* Menu Icon */
.hamb {
  cursor: pointer;
  float: right;
  padding: 30px 20px;
}

@media (min-width: 768px) {
  .hamb {
    display: none;
    padding: 20px 20px;
  }
}

/* Style label tag */
.hamb-line {
  background: #FFFFFF;
  display: block;
  height: 3px;
  position: relative;
  width: 30px;
}

/* Style span tag */
.hamb-line::before,
.hamb-line::after {
  background: #FFFFFF;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 8px;
}

.hamb-line::after {
  top: -8px;
}

.side-menu {
  display: none;
}

/* Toggle menu icon */
.side-menu:checked ~ nav {
  max-height: 100%;
}

.side-menu:checked ~ .actions .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .actions .hamb .hamb-line::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked ~ .actions .hamb .hamb-line::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.main {
  padding: 205px 0px 250px 0px;
  width: 100%;
}

@media all and (max-width: 1300px) {
  .main {
    padding: 200px 0px 215px 40px;
  }
}

@media all and (max-width: 1200px) {
  .main {
    padding: 200px 0px 215px 30px;
  }
}

@media all and (max-width: 992px) {
  .main {
    padding: 150px 0px 165px 20px;
  }
}

@media all and (max-width: 768px) {
  .main {
    padding: 100px 0px 125px 10px;
  }
}

@media all and (max-width: 576px) {
  .main {
    padding: 55px 0px 75px 10px;
  }
}

.main__sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  position: fixed;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  left: 26px;
}

.main__sidebar a {
  padding-top: 60px;
  font-size: 10px;
  color: #80858F;
}

.main__sidebar a:hover {
  color: #FAC422;
}

@media all and (max-width: 1200px) {
  .main__sidebar {
    left: 15px;
  }
  .main__sidebar a {
    padding-top: 50px;
  }
}

@media all and (max-width: 992px) {
  .main__sidebar {
    left: 0px;
  }
  .main__sidebar a {
    padding-top: 40px;
  }
}

@media all and (max-width: 768px) {
  .main__sidebar a {
    font-size: 9px;
  }
}

@media all and (max-width: 576px) {
  .main__sidebar a {
    font-size: 8px;
  }
}

.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}

.main__inner-title a {
  font-size: 16px;
  color: #57B8FF;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__inner-title a:hover {
  color: #FAC422;
}

.main__inner-title a img {
  margin-right: 10px;
}

@media all and (max-width: 992px) {
  .main__inner-title a {
    font-size: 15px;
  }
}

@media all and (max-width: 768px) {
  .main__inner-title a {
    font-size: 14px;
  }
}

@media all and (max-width: 576px) {
  .main__inner-title a {
    font-size: 12px;
  }
}

.main__inner-title h2 {
  font-size: 72px;
  color: #FFFFFF;
  line-height: 82px;
  padding-bottom: 48px;
}

@media all and (max-width: 1200px) {
  .main__inner-title h2 {
    text-shadow: 4px 6px 12px black;
    line-height: 78px;
  }
}

@media all and (max-width: 992px) {
  .main__inner-title h2 {
    font-size: 66px;
    padding-bottom: 40px;
    line-height: 70px;
  }
}

@media all and (max-width: 768px) {
  .main__inner-title h2 {
    font-size: 52px;
    padding-bottom: 34px;
    line-height: 60px;
  }
}

@media all and (max-width: 576px) {
  .main__inner-title h2 {
    font-size: 36px;
    padding-bottom: 30px;
    line-height: 40px;
  }
}

.main__inner-title p {
  font-size: 18px;
  line-height: 28px;
  color: #999999;
  width: 92%;
}

@media all and (max-width: 1200px) {
  .main__inner-title p {
    text-shadow: 1px 1px black;
  }
}

@media all and (max-width: 768px) {
  .main__inner-title p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media all and (max-width: 576px) {
  .main__inner-title p {
    font-size: 14px;
    line-height: 20px;
  }
}

.main__btn {
  padding-top: 55px;
}

@media all and (max-width: 992px) {
  .main__btn {
    padding-top: 45px;
  }
}

@media all and (max-width: 768px) {
  .main__btn {
    padding-top: 35px;
  }
}

@media all and (max-width: 576px) {
  .main__btn {
    padding-top: 25px;
  }
}

.main__btn button {
  background: #57B8FF;
  padding: 23px 35px;
  margin-right: 35px;
}

.main__btn button:hover {
  background: #80858F;
}

@media all and (max-width: 768px) {
  .main__btn button {
    padding: 16px 24px;
  }
}

.main__btn a {
  font-size: 18px;
}

.main__btn a:hover {
  color: #FAC422;
}

@media all and (max-width: 992px) {
  .main__btn a {
    font-size: 16px;
  }
}

@media all and (max-width: 768px) {
  .main__btn a {
    font-size: 14px;
  }
}

@media all and (max-width: 576px) {
  .main__btn a {
    font-size: 12px;
  }
}

@media all and (max-width: 1200px) {
  .main__img img {
    position: absolute;
    right: 0;
  }
}

@media all and (max-width: 768px) {
  .main__img img {
    width: 70%;
  }
}

.sponsors {
  background: #FDD04A;
  width: 100%;
}

.sponsors__wrap {
  width: 100%;
}

.sponsors__wrap_title {
  text-align: center;
  padding-top: 128px;
}

@media all and (max-width: 1200px) {
  .sponsors__wrap_title {
    padding-top: 100px;
  }
}

@media all and (max-width: 992px) {
  .sponsors__wrap_title {
    padding-top: 80px;
  }
}

@media all and (max-width: 768px) {
  .sponsors__wrap_title {
    padding-top: 40px;
  }
}

@media all and (max-width: 576px) {
  .sponsors__wrap_title {
    padding-top: 20px;
  }
}

.sponsors__wrap_title h3 {
  font-size: 48px;
  text-transform: capitalize;
  color: #222730;
  padding-bottom: 42px;
}

@media all and (max-width: 1200px) {
  .sponsors__wrap_title h3 {
    font-size: 46px;
    padding-bottom: 42px;
  }
}

@media all and (max-width: 992px) {
  .sponsors__wrap_title h3 {
    font-size: 42px;
    padding-bottom: 38px;
  }
}

@media all and (max-width: 768px) {
  .sponsors__wrap_title h3 {
    font-size: 38px;
    padding-bottom: 32px;
  }
}

@media all and (max-width: 576px) {
  .sponsors__wrap_title h3 {
    font-size: 32px;
    padding-bottom: 26px;
  }
}

.sponsors__wrap_title p {
  font-size: 16px;
  line-height: 26px;
  color: #555555;
  width: 44%;
  margin: 0 auto;
}

@media all and (max-width: 1200px) {
  .sponsors__wrap_title p {
    line-height: 25px;
    width: 50%;
  }
}

@media all and (max-width: 992px) {
  .sponsors__wrap_title p {
    width: 60%;
  }
}

@media all and (max-width: 768px) {
  .sponsors__wrap_title p {
    width: 70%;
  }
}

@media all and (max-width: 576px) {
  .sponsors__wrap_title p {
    width: 90%;
  }
}

.sponsors__wrap-links {
  padding: 41px 0px 130px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px 20px;
}

@media all and (max-width: 992px) {
  .sponsors__wrap-links {
    padding: 40px 0px 120px 0px;
  }
}

@media all and (max-width: 768px) {
  .sponsors__wrap-links {
    padding: 36px 0px 100px 0px;
  }
}

@media all and (max-width: 576px) {
  .sponsors__wrap-links {
    padding: 30px 0px 70px 0px;
  }
}

.sponsors__wrap-links button {
  background: rgba(255, 255, 255, 0.3);
  padding: 24px 50px;
  border: 8px solid rgba(255, 255, 255, 0.35);
  border-radius: 12px;
}

@media all and (max-width: 992px) {
  .sponsors__wrap-links button {
    padding: 14px 34px;
  }
}

@media all and (max-width: 768px) {
  .sponsors__wrap-links button {
    padding: 13px 32px;
    border: 7px solid rgba(255, 255, 255, 0.35);
  }
}

@media all and (max-width: 576px) {
  .sponsors__wrap-links button {
    padding: 12px 28px;
    border: 6px solid rgba(255, 255, 255, 0.35);
  }
}

.sponsors__wrap-links button a {
  font-size: 20px;
  color: #141820;
  font-weight: bold;
}

@media all and (max-width: 768px) {
  .sponsors__wrap-links button a {
    font-size: 16px;
  }
}

@media all and (max-width: 576px) {
  .sponsors__wrap-links button a {
    font-size: 14px;
  }
}

.advantages {
  background: url(../img/sponsors/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.advantages__wrapper {
  padding: 130px 0px;
}

@media all and (max-width: 1200px) {
  .advantages__wrapper {
    padding: 120px 0px;
  }
}

@media all and (max-width: 992px) {
  .advantages__wrapper {
    padding: 100px 0px;
  }
}

@media all and (max-width: 768px) {
  .advantages__wrapper {
    padding: 90px 0px;
  }
}

@media all and (max-width: 576px) {
  .advantages__wrapper {
    padding: 70px 0px;
  }
}

.advantages__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 61px;
}

.advantages__link {
  padding-bottom: 15px;
}

.advantages__link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 16px;
  color: #57B8FF;
}

@media all and (max-width: 768px) {
  .advantages__link a {
    font-size: 14px;
    line-height: 14px;
  }
}

@media all and (max-width: 576px) {
  .advantages__link a {
    font-size: 12px;
    line-height: 12px;
  }
}

.advantages__title {
  width: 60%;
  padding-bottom: 39px;
}

@media all and (max-width: 1200px) {
  .advantages__title {
    width: 70%;
    padding-bottom: 36px;
  }
}

@media all and (max-width: 992px) {
  .advantages__title {
    width: 80%;
    padding-bottom: 32px;
  }
}

@media all and (max-width: 768px) {
  .advantages__title {
    width: 90%;
    padding-bottom: 28px;
  }
}

@media all and (max-width: 576px) {
  .advantages__title {
    width: 100%;
    padding-bottom: 26px;
  }
}

.advantages__title h3 {
  font-size: 64px;
  line-height: 74px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}

@media all and (max-width: 1200px) {
  .advantages__title h3 {
    font-size: 62px;
    line-height: 70px;
  }
}

@media all and (max-width: 992px) {
  .advantages__title h3 {
    font-size: 50px;
    line-height: 64px;
  }
}

@media all and (max-width: 768px) {
  .advantages__title h3 {
    font-size: 46px;
    line-height: 58px;
  }
}

@media all and (max-width: 576px) {
  .advantages__title h3 {
    font-size: 30px;
    line-height: 50px;
  }
}

.advantages__info {
  width: 54%;
}

@media all and (max-width: 992px) {
  .advantages__info {
    width: 60%;
  }
}

@media all and (max-width: 768px) {
  .advantages__info {
    width: 80%;
  }
}

@media all and (max-width: 576px) {
  .advantages__info {
    width: 90%;
  }
}

.advantages__info p {
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: rgba(223, 223, 223, 0.8);
}

@media all and (max-width: 992px) {
  .advantages__info p {
    font-size: 19px;
    line-height: 28px;
  }
}

@media all and (max-width: 768px) {
  .advantages__info p {
    font-size: 18px;
    line-height: 24px;
  }
}

@media all and (max-width: 576px) {
  .advantages__info p {
    font-size: 16px;
    line-height: 20px;
  }
}

.advantages__desc-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px 32px;
}

.desc__card-info {
  width: 586px;
  height: 212px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
}

@media all and (max-width: 768px) {
  .desc__card-info {
    width: 448px;
    height: 186px;
  }
}

@media all and (max-width: 576px) {
  .desc__card-info {
    width: 400px;
    height: 160px;
  }
}

.desc__card-icon {
  padding: 35px 16px 0px 35px;
}

@media all and (max-width: 768px) {
  .desc__card-icon {
    padding: 26px 6px 0px 16px;
  }
}

@media all and (max-width: 576px) {
  .desc__card-icon {
    padding: 18px 2px 0px 12px;
  }
}

.desc__card-icon p {
  color: #57B8FF;
  font-size: 30px;
}

@media all and (max-width: 768px) {
  .desc__card-icon p {
    font-size: 26px;
  }
}

@media all and (max-width: 576px) {
  .desc__card-icon p {
    font-size: 22px;
  }
}

.desc__card-text {
  padding-top: 35px;
}

@media all and (max-width: 768px) {
  .desc__card-text {
    padding-top: 26px;
  }
}

@media all and (max-width: 576px) {
  .desc__card-text {
    padding-top: 22px;
  }
}

.desc__card-text h4 {
  font-size: 32px;
  font-weight: 400;
  padding-bottom: 19px;
}

@media all and (max-width: 768px) {
  .desc__card-text h4 {
    font-size: 28px;
    padding-bottom: 16px;
  }
}

@media all and (max-width: 576px) {
  .desc__card-text h4 {
    font-size: 18px;
    padding-bottom: 10px;
  }
}

.desc__card-text p {
  width: 90%;
  font-size: 18px;
  line-height: 28px;
  color: rgba(223, 223, 223, 0.8);
}

@media all and (max-width: 768px) {
  .desc__card-text p {
    width: 88%;
    font-size: 14px;
    line-height: 24px;
  }
}

@media all and (max-width: 576px) {
  .desc__card-text p {
    width: 88%;
    font-size: 12px;
    line-height: 20px;
  }
}
