.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}

@media all and (max-width: 1200px) {
  .container {
    max-width: 1140px;
    width: 100%;
    padding: 0 20px;
  }
}

@media all and (max-width: 992px) {
  .container {
    max-width: 960px;
    width: 100%;
    padding: 0 16px;
  }
}

@media all and (max-width: 576px) {
  .container {
    width: 100%;
    margin: 0;
    padding: 0px 8px;
  }
}

body {
  font-family: 'Orbitron';
  color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

a {
  font-family: 'Orbitron';
  color: #FFFFFF;
}

.header,
.main {
  background: -webkit-gradient(linear, left top, right top, color-stop(55.97%, black), color-stop(44.03%, #57B8FF));
  background: linear-gradient(to right, black 55.97%, #57B8FF 44.03%);
  width: 100%;
  height: 100%;
}

.header {
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  padding: 20px 0;
}

@media all and (max-width: 768px) {
  .header {
    padding-top: 0px;
  }
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 768px) {
  .header {
    overflow: hidden;
    background: #373A3C;
  }
}

@media all and (max-width: 992px) {
  .logo {
    padding-left: 15px;
  }
}

@media all and (max-width: 768px) {
  .logo {
    padding-left: 0px;
  }
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 40px;
}

@media all and (max-width: 1200px) {
  .actions {
    padding-right: 30px;
  }
}

@media all and (max-width: 992px) {
  .actions {
    padding-right: 20px;
  }
}

@media all and (max-width: 768px) {
  .actions {
    padding-right: 0px;
  }
}

.actions a::after {
  content: "\f07a";
  font-family: "FontAwesome";
  color: inherit;
  font-size: 32px;
}

.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 60px;
}

@media all and (max-width: 768px) {
  .nav {
    overflow: hidden;
    background: #373A3C;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.nav {
  max-height: 0;
  -webkit-transition: max-height .5s ease-out;
  transition: max-height .5s ease-out;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 510px;
  margin-right: 174px;
}

@media all and (max-width: 1200px) {
  .menu {
    width: 430px;
    margin-right: 100px;
  }
}

@media all and (max-width: 992px) {
  .menu {
    width: 320px;
    margin-right: 90px;
  }
}

@media all and (max-width: 768px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu a {
  display: block;
  font-size: 16px;
  color: #FFFFFF;
}

.menu a:hover {
  color: #FAC422;
}

@media all and (max-width: 1200px) {
  .menu a {
    font-size: 15px;
  }
}

@media all and (max-width: 992px) {
  .menu a {
    font-size: 13px;
  }
}

@media all and (max-width: 768px) {
  .menu a {
    font-size: 20px;
  }
}

@media all and (max-width: 576px) {
  .menu a {
    font-size: 18px;
  }
}

.menu li {
  position: relative;
}

@media all and (max-width: 768px) {
  .menu li {
    border-bottom: 1px solid #FAC422;
    width: 100%;
  }
}

.menu > li:hover .menu__subitem {
  opacity: 1;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.menu__item:after {
  content: "\f107";
  font-family: "FontAwesome";
  color: inherit;
  margin-left: 10px;
  color: #8DD83D;
}

.menu__item:hover::after {
  content: "\f106";
  font-family: "FontAwesome";
  color: #8DD83D;
}

.menu__subitem {
  background: #373A3C;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 5;
  width: 180px;
  opacity: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.menu__subitem a {
  color: white;
  text-align: left;
  padding: 12px 15px;
  font-size: 13px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
  .menu__subitem a:hover {
    background-color: transparent;
    color: gray;
  }
}

.menu__subitem li:last-child a {
  border-bottom: none;
}

.menu__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 768px) {
  .menu__actions {
    padding-top: 30px;
  }
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__btn button {
  padding: 15px 33px;
  background: transparent;
  border: 1px solid #ffffff;
}

@media all and (max-width: 1200px) {
  .menu__btn button {
    padding: 15px 30px;
  }
}

@media all and (max-width: 992px) {
  .menu__btn button {
    padding: 14px 26px;
  }
}

.menu__btn button a {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
}

@media all and (max-width: 1200px) {
  .menu__btn button a {
    font-size: 16px;
    line-height: 28px;
  }
}

@media all and (max-width: 992px) {
  .menu__btn button a {
    font-size: 15px;
    line-height: 26px;
  }
}

.menu__btn-cart {
  display: none;
  color: #FFFFFF;
}

@media all and (max-width: 768px) {
  .menu__btn-cart {
    display: block;
  }
}

.menu__btn-cart._show-cart {
  display: block;
}

@media all and (max-width: 768px) {
  .menu__btn-cart._show-cart {
    display: none;
  }
}

.hamb {
  cursor: pointer;
  float: right;
  padding: 20px 20px;
}

@media (min-width: 768px) {
  .hamb {
    display: none;
  }
}

/* Menu Icon */
.hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}

/* Style label tag */
.hamb-line {
  background: #FFFFFF;
  display: block;
  height: 3px;
  position: relative;
  width: 30px;
}

/* Style span tag */
.hamb-line::before,
.hamb-line::after {
  background: #FFFFFF;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 8px;
}

.hamb-line::after {
  top: -8px;
}

.side-menu {
  display: none;
}

/* Toggle menu icon */
.side-menu:checked ~ nav {
  max-height: 100%;
}

.side-menu:checked ~ .actions .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .actions .hamb .hamb-line::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked ~ .actions .hamb .hamb-line::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.main {
  padding: 215px 0px 250px 0px;
  width: 100%;
}

@media all and (max-width: 1200px) {
  .main {
    padding: 200px 0px 215px 0px;
  }
}

@media all and (max-width: 992px) {
  .main {
    padding: 150px 0px 165px 0px;
  }
}

@media all and (max-width: 768px) {
  .main {
    padding: 100px 0px 125px 0px;
  }
}

@media all and (max-width: 576px) {
  .main {
    padding: 55px 0px 75px 0px;
  }
}

.main__sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  position: fixed;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  left: 30px;
}

.main__sidebar a {
  padding-top: 60px;
  font-size: 10px;
  color: #80858F;
}

.main__sidebar a:hover {
  color: #FAC422;
}

@media all and (max-width: 1200px) {
  .main__sidebar {
    left: 15px;
  }
  .main__sidebar a {
    padding-top: 50px;
  }
}

@media all and (max-width: 992px) {
  .main__sidebar {
    left: 0px;
  }
  .main__sidebar a {
    padding-top: 40px;
  }
}

@media all and (max-width: 768px) {
  .main__sidebar a {
    font-size: 9px;
  }
}

@media all and (max-width: 576px) {
  .main__sidebar a {
    font-size: 8px;
  }
}

.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}

@media all and (max-width: 576px) {
  .main__inner {
    text-align: center;
  }
}

.main__inner-title a {
  font-size: 16px;
  color: #57B8FF;
  padding-bottom: 24px;
}

.main__inner-title a:hover {
  color: #FAC422;
}

@media all and (max-width: 992px) {
  .main__inner-title a {
    font-size: 15px;
  }
}

@media all and (max-width: 768px) {
  .main__inner-title a {
    font-size: 14px;
  }
}

@media all and (max-width: 576px) {
  .main__inner-title a {
    font-size: 12px;
  }
}

.main__inner-title h2 {
  font-size: 72px;
  color: #FFFFFF;
  width: 100%;
  padding-bottom: 45px;
}

@media all and (max-width: 1200px) {
  .main__inner-title h2 {
    text-shadow: 4px 6px 12px black;
  }
}

@media all and (max-width: 992px) {
  .main__inner-title h2 {
    font-size: 66px;
    width: 72%;
    padding-bottom: 40px;
  }
}

@media all and (max-width: 768px) {
  .main__inner-title h2 {
    font-size: 56px;
    width: 96%;
    padding-bottom: 34px;
  }
}

@media all and (max-width: 576px) {
  .main__inner-title h2 {
    font-size: 46px;
    padding-bottom: 30px;
  }
}

.main__inner-title p {
  font-size: 18px;
  line-height: 28px;
  color: #999999;
  width: 92%;
}

@media all and (max-width: 1200px) {
  .main__inner-title p {
    text-shadow: 1px 1px black;
  }
}

@media all and (max-width: 768px) {
  .main__inner-title p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media all and (max-width: 576px) {
  .main__inner-title p {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
  }
}

.main__btn {
  padding-top: 74px;
}

@media all and (max-width: 992px) {
  .main__btn {
    padding-top: 70px;
  }
}

@media all and (max-width: 768px) {
  .main__btn {
    padding-top: 60px;
  }
}

@media all and (max-width: 576px) {
  .main__btn {
    padding-top: 40px;
  }
}

.main__btn button {
  background: #57B8FF;
  padding: 21px 34px;
  margin-right: 40px;
}

.main__btn button:hover {
  background: #80858F;
}

@media all and (max-width: 768px) {
  .main__btn button {
    padding: 16px 24px;
  }
}

.main__btn a {
  font-size: 18px;
}

.main__btn a:hover {
  color: #FAC422;
}

@media all and (max-width: 992px) {
  .main__btn a {
    font-size: 16px;
  }
}

@media all and (max-width: 768px) {
  .main__btn a {
    font-size: 14px;
  }
}

@media all and (max-width: 576px) {
  .main__btn a {
    font-size: 12px;
  }
}

@media all and (max-width: 1200px) {
  .main__img img {
    position: absolute;
    right: 0;
  }
}

@media all and (max-width: 768px) {
  .main__img img {
    width: 70%;
  }
}

.sponsors {
  background: #FDD04A;
  width: 100%;
}

.sponsors__wrap {
  width: 100%;
}

.sponsors__wrap_title {
  text-align: center;
  padding-top: 130px;
}

@media all and (max-width: 1200px) {
  .sponsors__wrap_title {
    padding-top: 100px;
  }
}

@media all and (max-width: 992px) {
  .sponsors__wrap_title {
    padding-top: 80px;
  }
}

@media all and (max-width: 768px) {
  .sponsors__wrap_title {
    padding-top: 40px;
  }
}

@media all and (max-width: 576px) {
  .sponsors__wrap_title {
    padding-top: 20px;
  }
}

.sponsors__wrap_title h3 {
  font-size: 48px;
  text-transform: capitalize;
  color: #222730;
  padding-bottom: 44px;
}

@media all and (max-width: 1200px) {
  .sponsors__wrap_title h3 {
    font-size: 46px;
    padding-bottom: 42px;
  }
}

@media all and (max-width: 992px) {
  .sponsors__wrap_title h3 {
    font-size: 42px;
    padding-bottom: 38px;
  }
}

@media all and (max-width: 768px) {
  .sponsors__wrap_title h3 {
    font-size: 38px;
    padding-bottom: 32px;
  }
}

@media all and (max-width: 576px) {
  .sponsors__wrap_title h3 {
    font-size: 32px;
    padding-bottom: 26px;
  }
}

.sponsors__wrap_title p {
  font-size: 16px;
  line-height: 26px;
  color: #555555;
  width: 34%;
  margin: 0 auto;
}

@media all and (max-width: 1200px) {
  .sponsors__wrap_title p {
    line-height: 25px;
    width: 50%;
  }
}

@media all and (max-width: 992px) {
  .sponsors__wrap_title p {
    width: 60%;
  }
}

@media all and (max-width: 768px) {
  .sponsors__wrap_title p {
    width: 70%;
  }
}

@media all and (max-width: 576px) {
  .sponsors__wrap_title p {
    width: 90%;
  }
}

.sponsors__wrap-links {
  padding-top: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px 20px;
  padding-bottom: 130px;
}

.sponsors__wrap-links button {
  background: rgba(255, 255, 255, 0.3);
  padding: 16px 39px;
  border: 8px solid rgba(255, 255, 255, 0.35);
  border-radius: 12px;
}

@media all and (max-width: 992px) {
  .sponsors__wrap-links button {
    padding: 14px 34px;
  }
}

@media all and (max-width: 768px) {
  .sponsors__wrap-links button {
    padding: 13px 32px;
    border: 7px solid rgba(255, 255, 255, 0.35);
  }
}

@media all and (max-width: 576px) {
  .sponsors__wrap-links button {
    padding: 12px 28px;
    border: 6px solid rgba(255, 255, 255, 0.35);
  }
}

.sponsors__wrap-links button a {
  font-size: 20px;
  color: #141820;
  font-weight: bold;
}

@media all and (max-width: 768px) {
  .sponsors__wrap-links button a {
    font-size: 16px;
  }
}

@media all and (max-width: 576px) {
  .sponsors__wrap-links button a {
    font-size: 14px;
  }
}

.advantages {
  background: url(../img/sponsors/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.advantages__wrapper {
  padding: 130px 0px;
}

@media all and (max-width: 1200px) {
  .advantages__wrapper {
    padding: 120px 0px;
  }
}

@media all and (max-width: 992px) {
  .advantages__wrapper {
    padding: 100px 0px;
  }
}

@media all and (max-width: 768px) {
  .advantages__wrapper {
    padding: 90px 0px;
  }
}

@media all and (max-width: 576px) {
  .advantages__wrapper {
    padding: 70px 0px;
  }
}

.advantages__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 61px;
}

.advantages__link {
  padding-bottom: 15px;
}

.advantages__link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 16px;
  color: #57B8FF;
}

@media all and (max-width: 768px) {
  .advantages__link a {
    font-size: 14px;
    line-height: 14px;
  }
}

@media all and (max-width: 576px) {
  .advantages__link a {
    font-size: 12px;
    line-height: 12px;
  }
}

.advantages__title {
  width: 60%;
  padding-bottom: 39px;
}

@media all and (max-width: 1200px) {
  .advantages__title {
    width: 70%;
    padding-bottom: 36px;
  }
}

@media all and (max-width: 992px) {
  .advantages__title {
    width: 80%;
    padding-bottom: 32px;
  }
}

@media all and (max-width: 768px) {
  .advantages__title {
    width: 90%;
    padding-bottom: 28px;
  }
}

@media all and (max-width: 576px) {
  .advantages__title {
    width: 100%;
    padding-bottom: 26px;
  }
}

.advantages__title h3 {
  font-size: 64px;
  line-height: 74px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}

@media all and (max-width: 1200px) {
  .advantages__title h3 {
    font-size: 62px;
    line-height: 70px;
  }
}

@media all and (max-width: 992px) {
  .advantages__title h3 {
    font-size: 50px;
    line-height: 64px;
  }
}

@media all and (max-width: 768px) {
  .advantages__title h3 {
    font-size: 46px;
    line-height: 58px;
  }
}

@media all and (max-width: 576px) {
  .advantages__title h3 {
    font-size: 30px;
    line-height: 36px;
  }
}

.advantages__info {
  width: 54%;
}

@media all and (max-width: 992px) {
  .advantages__info {
    width: 60%;
  }
}

@media all and (max-width: 768px) {
  .advantages__info {
    width: 80%;
  }
}

@media all and (max-width: 576px) {
  .advantages__info {
    width: 90%;
  }
}

.advantages__info p {
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: rgba(223, 223, 223, 0.8);
}

@media all and (max-width: 992px) {
  .advantages__info p {
    font-size: 19px;
    line-height: 28px;
  }
}

@media all and (max-width: 768px) {
  .advantages__info p {
    font-size: 18px;
    line-height: 24px;
  }
}

@media all and (max-width: 576px) {
  .advantages__info p {
    font-size: 14px;
    line-height: 20px;
  }
}

.advantages__desc-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px 32px;
}

.desc__card-info {
  width: 586px;
  height: 212px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
}

@media all and (max-width: 768px) {
  .desc__card-info {
    width: 448px;
    height: 186px;
  }
}

@media all and (max-width: 576px) {
  .desc__card-info {
    width: 400px;
    height: 160px;
  }
}

.desc__card-icon {
  padding: 35px 16px 0px 35px;
}

@media all and (max-width: 768px) {
  .desc__card-icon {
    padding: 26px 6px 0px 16px;
  }
}

@media all and (max-width: 576px) {
  .desc__card-icon {
    padding: 18px 2px 0px 12px;
  }
}

.desc__card-icon p {
  color: #57B8FF;
  font-size: 30px;
}

@media all and (max-width: 768px) {
  .desc__card-icon p {
    font-size: 26px;
  }
}

@media all and (max-width: 576px) {
  .desc__card-icon p {
    font-size: 22px;
  }
}

.desc__card-text {
  padding-top: 35px;
}

@media all and (max-width: 768px) {
  .desc__card-text {
    padding-top: 26px;
  }
}

@media all and (max-width: 576px) {
  .desc__card-text {
    padding-top: 22px;
  }
}

.desc__card-text h4 {
  font-size: 32px;
  font-weight: 400;
  padding-bottom: 19px;
}

@media all and (max-width: 768px) {
  .desc__card-text h4 {
    font-size: 28px;
    padding-bottom: 16px;
  }
}

@media all and (max-width: 576px) {
  .desc__card-text h4 {
    font-size: 18px;
    padding-bottom: 10px;
  }
}

.desc__card-text p {
  width: 90%;
  font-size: 18px;
  line-height: 28px;
  color: rgba(223, 223, 223, 0.8);
}

@media all and (max-width: 768px) {
  .desc__card-text p {
    width: 88%;
    font-size: 14px;
    line-height: 24px;
  }
}

@media all and (max-width: 576px) {
  .desc__card-text p {
    width: 88%;
    font-size: 12px;
    line-height: 20px;
  }
}

.gaming {
  background-color: black;
  width: 100%;
}

.gaming__wrapper {
  padding: 117px 10px 133px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media all and (max-width: 1200px) {
  .gaming__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 117px 30px 133px 30px;
  }
}

@media all and (max-width: 992px) {
  .gaming__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media all and (max-width: 992px) {
  .gaming__inner {
    padding-bottom: 20px;
  }
}

.gaming__link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #57B8FF;
  padding-bottom: 15px;
}

.gaming__title h3 {
  width: 92%;
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
  text-transform: capitalize;
  color: #FFFFFF;
}

@media all and (max-width: 1200px) {
  .gaming__title h3 {
    width: 100%;
    line-height: 72px;
  }
}

@media all and (max-width: 992px) {
  .gaming__title h3 {
    font-weight: 400;
    font-size: 54px;
    line-height: 68px;
  }
}

@media all and (max-width: 768px) {
  .gaming__title h3 {
    font-size: 50px;
    line-height: 62px;
  }
}

@media all and (max-width: 576px) {
  .gaming__title h3 {
    font-size: 44px;
    line-height: 56px;
  }
}

.gaming__text p {
  width: 90%;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: rgba(223, 223, 223, 0.8);
  padding: 54px 0px 40px 0px;
}

@media all and (max-width: 1200px) {
  .gaming__text p {
    width: 100%;
    padding: 50px 0px 40px 0px;
  }
}

@media all and (max-width: 992px) {
  .gaming__text p {
    font-size: 18px;
    line-height: 28px;
    padding: 44px 0px 36px 0px;
  }
}

@media all and (max-width: 768px) {
  .gaming__text p {
    font-size: 16px;
    line-height: 24px;
    padding: 28px 0px 28px 0px;
  }
}

@media all and (max-width: 576px) {
  .gaming__text p {
    font-size: 14px;
    line-height: 22px;
    padding: 22px 0px 24px 0px;
  }
}

.gaming__btn button {
  padding: 27px 54px;
  background: #57B8FF;
}

@media all and (max-width: 1200px) {
  .gaming__btn button {
    padding: 26px 52px;
  }
}

@media all and (max-width: 992px) {
  .gaming__btn button {
    padding: 24px 50px;
  }
}

@media all and (max-width: 768px) {
  .gaming__btn button {
    padding: 20px 44px;
  }
}

@media all and (max-width: 576px) {
  .gaming__btn button {
    padding: 16px 38px;
  }
}

.gaming__demonstration iframe {
  border-radius: 20%;
  border: 26px solid #111214;
  width: 492px;
  height: 550px;
}

@media all and (max-width: 992px) {
  .gaming__demonstration iframe {
    border: 24px solid #111214;
    width: 400px;
    height: 340px;
  }
}

@media all and (max-width: 768px) {
  .gaming__demonstration iframe {
    border: 18px solid #111214;
    width: 500px;
    height: 340px;
  }
}

@media all and (max-width: 576px) {
  .gaming__demonstration iframe {
    border: 14px solid #111214;
    width: 300px;
    height: 240px;
  }
}

.customize {
  background: #2A313C;
  width: 100%;
}

.customize__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.customize__img {
  width: 60%;
}

@media all and (max-width: 1200px) {
  .customize__img {
    width: 0%;
  }
}

@media all and (max-width: 768px) {
  .customize__img {
    width: 0%;
    display: none;
  }
}

@media all and (max-width: 1200px) {
  .customize__img img {
    left: 0;
    opacity: 0.5;
  }
}

.customize__inner {
  width: 50%;
  z-index: 0;
}

@media all and (max-width: 1200px) {
  .customize__inner {
    width: 100%;
    text-align: center;
  }
}

.customize__link {
  padding: 83px 0px 10px 0px;
}

@media all and (max-width: 768px) {
  .customize__link {
    padding: 60px 0px 10px 0px;
  }
}

@media all and (max-width: 576px) {
  .customize__link {
    padding: 40px 0px 10px 0px;
  }
}

.customize__link a {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #57B8FF;
}

@media all and (max-width: 768px) {
  .customize__link a {
    font-size: 14px;
  }
}

@media all and (max-width: 576px) {
  .customize__link a {
    font-size: 12px;
  }
}

.customize__title h3 {
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
  text-transform: capitalize;
  color: #FFFFFF;
}

@media all and (max-width: 1200px) {
  .customize__title h3 {
    font-size: 60px;
    line-height: 68px;
    margin: 0 auto;
  }
}

@media all and (max-width: 992px) {
  .customize__title h3 {
    font-size: 50px;
    line-height: 62px;
  }
}

@media all and (max-width: 768px) {
  .customize__title h3 {
    font-size: 45px;
    line-height: 46px;
  }
}

@media all and (max-width: 576px) {
  .customize__title h3 {
    font-size: 35px;
    line-height: 40px;
  }
}

.customize__text {
  padding: 38px 0px 54px 0px;
}

@media all and (max-width: 768px) {
  .customize__text {
    padding: 24px 0px 34px 0px;
  }
}

@media all and (max-width: 576px) {
  .customize__text {
    padding: 14px 0px 14px 0px;
  }
}

.customize__text p {
  width: 94%;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: rgba(223, 223, 223, 0.8);
}

@media all and (max-width: 1200px) {
  .customize__text p {
    width: 100%;
  }
}

@media all and (max-width: 768px) {
  .customize__text p {
    width: 80%;
    font-size: 16px;
    margin: 0 auto;
    line-height: 26px;
  }
}

@media all and (max-width: 576px) {
  .customize__text p {
    font-size: 12px;
    line-height: 22px;
  }
}

.customize__thumb {
  word-spacing: 18px;
}

@media all and (max-width: 768px) {
  .customize__thumb img {
    margin: 5px;
  }
}

.customize__thumb img:hover {
  border: 10px solid #3B3D46;
  border-radius: 20px;
}

.labels {
  border-top: 1px solid black;
}

.labels__inner-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (max-width: 768px) {
  .labels__inner-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.labels__card-aim {
  background: url(../img/labels/game-scrn-gun.png);
}

.labels__card-gmpad {
  background: url(../img/labels/game-scrn-win.png);
}

.labels__card-compas {
  background: url(../img/labels/game-scrn-map.png);
}

.bg-width {
  width: 100%;
  height: 732px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media all and (max-width: 1200px) {
  .bg-width {
    height: 600px;
  }
}

@media all and (max-width: 992px) {
  .bg-width {
    height: 500px;
  }
}

@media all and (max-width: 768px) {
  .bg-width {
    height: 300px;
  }
}

@media all and (max-width: 576px) {
  .bg-width {
    height: 200px;
  }
}

@media all and (max-width: 992px) {
  .bg-width img {
    width: 15%;
  }
}

.bg-width p {
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}

@media all and (max-width: 1200px) {
  .bg-width p {
    font-size: 42px;
    line-height: 52px;
  }
}

@media all and (max-width: 992px) {
  .bg-width p {
    font-size: 38px;
    line-height: 48px;
  }
}

@media all and (max-width: 768px) {
  .bg-width p {
    font-size: 30px;
    line-height: 42px;
  }
}

@media all and (max-width: 576px) {
  .bg-width p {
    font-size: 26px;
    line-height: 32px;
  }
}

.news {
  background: black;
  width: 100%;
  padding-bottom: 130px;
}

@media all and (max-width: 1200px) {
  .news {
    padding-bottom: 120px;
  }
}

@media all and (max-width: 992px) {
  .news {
    padding-bottom: 100px;
  }
}

@media all and (max-width: 768px) {
  .news {
    padding-bottom: 80px;
  }
}

@media all and (max-width: 576px) {
  .news {
    padding-bottom: 60px;
  }
}

.news__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 130px 0px 64px 0px;
}

@media all and (max-width: 1200px) {
  .news__heading {
    padding: 110px 0px 60px 0px;
  }
}

@media all and (max-width: 992px) {
  .news__heading {
    padding: 90px 0px 56px 0px;
  }
}

@media all and (max-width: 768px) {
  .news__heading {
    padding: 60px 0px 50px 0px;
  }
}

@media all and (max-width: 576px) {
  .news__heading {
    padding: 30px 0px 40px 0px;
  }
}

.news__heading-text a {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #57B8FF;
}

@media all and (max-width: 992px) {
  .news__heading-text a {
    font-size: 15px;
    line-height: 15px;
  }
}

@media all and (max-width: 768px) {
  .news__heading-text a {
    font-size: 14px;
    line-height: 14px;
  }
}

@media all and (max-width: 576px) {
  .news__heading-text a {
    font-size: 12px;
    line-height: 12px;
  }
}

.news__heading-text h3 {
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
  text-transform: capitalize;
  color: #FFFFFF;
}

@media all and (max-width: 1200px) {
  .news__heading-text h3 {
    font-size: 62px;
    line-height: 68px;
  }
}

@media all and (max-width: 992px) {
  .news__heading-text h3 {
    font-size: 54px;
    line-height: 60px;
  }
}

@media all and (max-width: 768px) {
  .news__heading-text h3 {
    font-size: 38px;
    line-height: 56px;
  }
}

@media all and (max-width: 576px) {
  .news__heading-text h3 {
    font-size: 28px;
    line-height: 48px;
  }
}

.news__heading-btn button {
  padding: 21px 34px;
  background: #57B8FF;
}

@media all and (max-width: 992px) {
  .news__heading-btn button {
    padding: 20px 32px;
  }
}

@media all and (max-width: 768px) {
  .news__heading-btn button {
    padding: 16px 26px;
  }
}

@media all and (max-width: 576px) {
  .news__heading-btn button {
    padding: 12px 18px;
  }
}

.news__articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media all and (max-width: 1440px) {
  .news__articles {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.news__articles-recent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 14px;
  gap: 24px;
}

@media all and (max-width: 1053px) {
  .news__articles-recent {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media all and (max-width: 1440px) {
  .recent-position-horizontally {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.articles__current-info img {
  width: 100%;
}

.articles__current-info p {
  padding: 54px 0px 28px 0px;
  font-size: 16px;
  line-height: 16px;
  color: #57B8FF;
}

@media all and (max-width: 992px) {
  .articles__current-info p {
    padding: 50px 0px 24px 0px;
    font-size: 15px;
    line-height: 14px;
  }
}

@media all and (max-width: 768px) {
  .articles__current-info p {
    padding: 40px 0px 20px 0px;
    font-size: 14px;
    line-height: 12px;
  }
}

@media all and (max-width: 576px) {
  .articles__current-info p {
    padding: 30px 0px 14px 0px;
    font-size: 12px;
    line-height: 10px;
  }
}

.articles__current-info h4 {
  font-size: 36px;
  line-height: 46px;
  text-transform: capitalize;
  color: #FFFFFF;
}

@media all and (max-width: 1200px) {
  .articles__current-info h4 {
    font-size: 34px;
    line-height: 42px;
  }
}

@media all and (max-width: 992px) {
  .articles__current-info h4 {
    font-size: 30px;
    line-height: 36px;
  }
}

@media all and (max-width: 768px) {
  .articles__current-info h4 {
    font-size: 24px;
    line-height: 30px;
  }
}

@media all and (max-width: 576px) {
  .articles__current-info h4 {
    font-size: 18px;
    line-height: 22px;
  }
}

.articles__recent-info img {
  width: 100%;
}

.articles__recent-info p {
  padding: 30px 0px 20px 0px;
  font-size: 16px;
  line-height: 16px;
  color: #57B8FF;
}

@media all and (max-width: 992px) {
  .articles__recent-info p {
    padding: 28px 0px 18px 0px;
    font-size: 15px;
    line-height: 14px;
  }
}

@media all and (max-width: 768px) {
  .articles__recent-info p {
    padding: 24px 0px 16px 0px;
    font-size: 14px;
    line-height: 12px;
  }
}

@media all and (max-width: 576px) {
  .articles__recent-info p {
    padding: 20px 0px 14px 0px;
    font-size: 12px;
    line-height: 10px;
  }
}

.articles__recent-info h4 {
  font-size: 23px;
  line-height: 34px;
  text-transform: capitalize;
  color: #FFFFFF;
  padding-bottom: 16px;
}

@media all and (max-width: 1200px) {
  .articles__recent-info h4 {
    font-size: 22px;
    line-height: 32px;
  }
}

@media all and (max-width: 992px) {
  .articles__recent-info h4 {
    font-size: 20px;
    line-height: 28px;
  }
}

@media all and (max-width: 768px) {
  .articles__recent-info h4 {
    font-size: 18px;
    line-height: 24px;
  }
}

@media all and (max-width: 576px) {
  .articles__recent-info h4 {
    font-size: 14px;
    line-height: 20px;
  }
}

.application {
  background: url(../img/application/bg.png);
}

.application__wrapper {
  text-align: center;
  margin: 0 auto;
  width: 60%;
}

@media all and (max-width: 1200px) {
  .application__wrapper {
    width: 80%;
  }
}

@media all and (max-width: 992px) {
  .application__wrapper {
    width: 90%;
  }
}

.application__wrapper h3 {
  padding: 126px 0px 51px 0px;
  font-size: 72px;
  line-height: 82px;
  text-align: center;
  color: #141820;
}

@media all and (max-width: 1200px) {
  .application__wrapper h3 {
    padding: 120px 0px 48px 0px;
    font-size: 68px;
    line-height: 76px;
  }
}

@media all and (max-width: 992px) {
  .application__wrapper h3 {
    padding: 110px 0px 42px 0px;
    font-size: 64px;
    line-height: 66px;
  }
}

@media all and (max-width: 768px) {
  .application__wrapper h3 {
    padding: 90px 0px 34px 0px;
    font-size: 52px;
    line-height: 58px;
  }
}

@media all and (max-width: 576px) {
  .application__wrapper h3 {
    padding: 60px 0px 28px 0px;
    font-size: 32px;
    line-height: 48px;
  }
}

.application__wrapper p {
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  color: #555555;
}

@media all and (max-width: 992px) {
  .application__wrapper p {
    font-size: 16px;
    line-height: 26px;
  }
}

@media all and (max-width: 768px) {
  .application__wrapper p {
    font-size: 14px;
    line-height: 22px;
  }
}

@media all and (max-width: 576px) {
  .application__wrapper p {
    font-size: 12px;
    line-height: 18px;
  }
}

.application__wrapper form {
  padding: 45px 0px 130px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.application__wrapper input {
  padding: 26px 165px 26px 13px;
  border: 1px solid #CCCCCC;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  color: #555555;
  text-align: left;
  font-family: 'Orbitron';
}

@media all and (max-width: 1200px) {
  .application__wrapper input {
    padding: 26px 155px 26px 13px;
  }
}

@media all and (max-width: 992px) {
  .application__wrapper input {
    font-size: 17px;
    padding: 22px 118px 22px 10px;
  }
}

@media all and (max-width: 768px) {
  .application__wrapper input {
    font-size: 16px;
    padding: 18px 50px 18px 8px;
  }
}

@media all and (max-width: 576px) {
  .application__wrapper input {
    font-size: 14px;
    padding: 10px 0px 10px 2px;
  }
}

.application__wrapper button {
  padding: 21px 32px 21px 32px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background: #57B8FF;
  font-family: 'Orbitron';
}

@media all and (max-width: 992px) {
  .application__wrapper button {
    padding: 14px 22px 14px 22px;
    font-size: 16px;
    line-height: 22px;
  }
}

@media all and (max-width: 768px) {
  .application__wrapper button {
    padding: 12px 16px 12px 16px;
    font-size: 14px;
    line-height: 18px;
  }
}

@media all and (max-width: 576px) {
  .application__wrapper button {
    padding: 10px 12px 10px 12px;
    font-size: 12px;
    line-height: 14px;
  }
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 49px;
}

@media all and (max-width: 992px) {
  .footer__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 28px;
  }
}

@media all and (max-width: 576px) {
  .footer__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 0px;
  }
}

.footer__row-col ul {
  list-style: none;
}

.footer {
  background: #222730;
  padding: 70px 0;
}

@media all and (max-width: 992px) {
  .footer {
    padding: 60px 0;
  }
}

@media all and (max-width: 576px) {
  .footer {
    padding: 40px 0;
    text-align: center;
  }
}

.footer__copyright {
  border-top: 1px solid #3E3E3E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 19px;
}

@media all and (max-width: 992px) {
  .footer__copyright {
    padding-top: 15px;
  }
}

@media all and (max-width: 576px) {
  .footer__copyright {
    padding-top: 10px;
  }
}

.footer__copyright p {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #898989;
}

.footer__row-col {
  width: 25%;
  padding: 0 15px;
}

@media all and (max-width: 992px) {
  .footer__row-col {
    width: 30%;
  }
}

@media all and (max-width: 576px) {
  .footer__row-col {
    width: 40%;
    padding: 0px 0px 20px 0px;
  }
}

.footer__row-col p {
  font-size: 15px;
  line-height: 25px;
  color: #999999;
}

@media all and (max-width: 992px) {
  .footer__row-col p {
    font-size: 14px;
    line-height: 22px;
  }
}

@media all and (max-width: 576px) {
  .footer__row-col p {
    font-size: 12px;
    line-height: 20px;
  }
}

.footer__row-col img {
  width: 100%;
}

.footer__row-col h4 {
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 35px;
  font-weight: 500;
}

@media all and (max-width: 992px) {
  .footer__row-col h4 {
    margin-bottom: 25px;
    gap: 14px;
    font-size: 16px;
  }
}

@media all and (max-width: 576px) {
  .footer__row-col h4 {
    margin-bottom: 18px;
  }
}

.footer__row-col ul li:not(:last-child) {
  margin-bottom: 20px;
}

@media all and (max-width: 992px) {
  .footer__row-col ul li:not(:last-child) {
    margin-bottom: 18px;
  }
}

@media all and (max-width: 576px) {
  .footer__row-col ul li:not(:last-child) {
    margin-bottom: 14px;
  }
}

.footer__row-col ul li a {
  font-size: 14px;
  text-transform: capitalize;
  color: #999999;
  text-decoration: none;
  font-weight: 300;
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__row-col ul li a:hover {
  color: #FFFFFF;
  padding-left: 8px;
}

.footer__row-col .social-links a {
  display: inline-block;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #999999;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
