.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    @media all and(max-width: 1200px) {
        max-width: 1140px;
        width: 100%;
        padding: 0 20px;
    }
    @media all and(max-width: 992px) {
        max-width: 960px;
        width: 100%;
        padding: 0 16px;
    }
    @media all and(max-width: 576px) {
        width: 100%;
        margin: 0;
        padding: 0px 8px;
    }
}

body {
    font-family: 'Orbitron';
    color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 400;
}

a {
    font-family: 'Orbitron';
    color: #FFFFFF;
}

.header,
.main {
    background: linear-gradient(to right, black 55.97%, #57B8FF 44.03%);
    width: 100%;
    height: 100%;
}

.header {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 2;
    padding: 20px 0;
    @media all and (max-width: 768px) {
        padding-top: 0px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    @media all and (max-width: 768px) {
        overflow: hidden;
        background: #373A3C;
    }
}

.logo {
    @media all and (max-width: 992px) {
        padding-left: 15px;
    }
    @media all and (max-width: 768px) {
        padding-left: 0px;
    }
    img {}
}

.actions {
    display: flex;
    align-items: center;
    padding-right: 40px;
    @media all and (max-width: 1200px) {
        padding-right: 30px;
    }
    @media all and (max-width: 992px) {
        padding-right: 20px;
    }
    @media all and (max-width: 768px) {
        padding-right: 0px;
    }
    a::after {
        content: "\f07a";
        font-family: "FontAwesome";
        color: inherit;
        font-size: 32px;
    }
    &._show-cart {}
}

.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 60px;
    @media all and (max-width: 768px) {
        overflow: hidden;
        background: #373A3C;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }
}

.nav {
    max-height: 0;
    transition: max-height .5s ease-out;
    z-index: 2;
    display: flex;
    align-items: center;
    @media (min-width: 768px) {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 510px;
    margin-right: 174px;
    @media all and (max-width: 1200px) {
        width: 430px;
        margin-right: 100px;
    }
    @media all and (max-width: 992px) {
        width: 320px;
        margin-right: 90px;
    }
    @media all and (max-width: 768px) {
        flex-direction: column;
    }
    @media all and (max-width: 576px) {}
    a {
        display: block;
        font-size: 16px;
        color: #FFFFFF;
        &:hover {
            color: #FAC422;
        }
        @media all and (max-width: 1200px) {
            font-size: 15px;
        }
        @media all and (max-width: 992px) {
            font-size: 13px;
        }
        @media all and (max-width: 768px) {
            font-size: 20px;
        }
        @media all and (max-width: 576px) {
            font-size: 18px;
        }
    }
    li {
        // width: 30%;
        position: relative;
        @media all and(max-width: 1500px) {}
        @media all and(max-width: 992px) {}
        @media all and (max-width: 768px) {
            border-bottom: 1px solid #FAC422;
            width: 100%;
        }
    }
    &>li:hover &__subitem {
        opacity: 1;
        transform: scaleY(1);
    }
    &__item {
        &:after {
            content: "\f107";
            font-family: "FontAwesome";
            color: inherit;
            margin-left: 10px;
            color: #8DD83D;
        }
        &:hover {
            &::after {
                content: "\f106";
                font-family: "FontAwesome";
                color: #8DD83D;
            }
        }
    }
    &__subitem {
        background: #373A3C;
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 5;
        width: 180px;
        opacity: 0;
        transform: scaleY(0);
        transform-origin: 0 0;
        transition: .5s ease-in-out;
        a {
            color: white;
            text-align: left;
            padding: 12px 15px;
            font-size: 13px;
            border-bottom: 1px solid rgba(255, 255, 255, .1);
            @media (max-width: 768px) {
                &:hover {
                    background-color: transparent;
                    color: gray;
                }
            }
        }
        li:last-child a {
            border-bottom: none;
        }
    }
    &__actions {
        display: flex;
        align-items: center;
        @media all and (max-width: 768px) {
            padding-top: 30px;
        }
    }
    &__btn {
        display: flex;
        button {
            padding: 15px 33px;
            background: transparent;
            border: 1px solid #ffffff;
            @media all and (max-width: 1200px) {
                padding: 15px 30px;
            }
            @media all and (max-width: 992px) {
                padding: 14px 26px;
            }
            @media all and (max-width: 768px) {}
            @media all and (max-width: 576px) {}
            a {
                font-weight: 400;
                font-size: 18px;
                line-height: 30px;
                color: #FFFFFF;
                @media all and (max-width: 1200px) {
                    font-size: 16px;
                    line-height: 28px;
                }
                @media all and (max-width: 992px) {
                    font-size: 15px;
                    line-height: 26px;
                }
                @media all and (max-width: 768px) {}
                @media all and (max-width: 576px) {}
            }
        }
        @media all and (max-width: 768px) {
            // display: none;
        }
    }
    &__btn-cart {
        display: none;
        color: #FFFFFF;
        @media all and (max-width: 768px) {
            display: block;
        }
        &._show-cart {
            display: block;
            @media all and (max-width: 768px) {
                display: none;
            }
        }
    }
}

.hamb {
    cursor: pointer;
    float: right;
    padding: 20px 20px;
    @media (min-width: 768px) {
        display: none;
    }
}


/* Menu Icon */

.hamb {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}


/* Style label tag */

.hamb-line {
    background: #FFFFFF;
    display: block;
    height: 3px;
    position: relative;
    width: 30px;
}


/* Style span tag */

.hamb-line::before,
.hamb-line::after {
    background: #FFFFFF;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 8px;
}

.hamb-line::after {
    top: -8px;
}

.side-menu {
    display: none;
}


/* Toggle menu icon */

.side-menu:checked~nav {
    max-height: 100%;
}

.side-menu:checked~.actions .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked~.actions .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked~.actions .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

.main {
    padding: 215px 0px 250px 0px;
    width: 100%;
    @media all and (max-width: 1200px) {
        padding: 200px 0px 215px 0px;
    }
    @media all and (max-width: 992px) {
        padding: 150px 0px 165px 0px;
    }
    @media all and (max-width: 768px) {
        padding: 100px 0px 125px 0px;
    }
    @media all and (max-width: 576px) {
        padding: 55px 0px 75px 0px;
    }
    &__sidebar {
        display: flex;
        writing-mode: vertical-rl;
        position: fixed;
        transform: rotate(-180deg);
        flex-direction: row-reverse;
        left: 30px;
        a {
            padding-top: 60px;
            font-size: 10px;
            color: #80858F;
            &:hover {
                color: #FAC422;
            }
        }
        @media all and (max-width: 1200px) {
            left: 15px;
            a {
                padding-top: 50px;
            }
        }
        @media all and (max-width: 992px) {
            left: 0px;
            a {
                padding-top: 40px;
            }
        }
        @media all and (max-width: 768px) {
            a {
                font-size: 9px;
            }
        }
        @media all and (max-width: 576px) {
            a {
                font-size: 8px;
            }
        }
    }
    &__wrapper {
        display: flex;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        z-index: 1;
        @media all and (max-width: 768px) {}
        @media all and (max-width: 576px) {
            text-align: center;
        }
    }
    &__inner-title {
        a {
            font-size: 16px;
            color: #57B8FF;
            padding-bottom: 24px;
            &:hover {
                color: #FAC422;
            }
            @media all and (max-width: 992px) {
                font-size: 15px;
            }
            @media all and (max-width: 768px) {
                font-size: 14px;
            }
            @media all and (max-width: 576px) {
                font-size: 12px;
            }
        }
        h2 {
            font-size: 72px;
            color: #FFFFFF;
            width: 100%;
            padding-bottom: 45px;
            @media all and (max-width: 1200px) {
                text-shadow: 4px 6px 12px black;
            }
            @media all and (max-width: 992px) {
                font-size: 66px;
                width: 72%;
                padding-bottom: 40px;
            }
            @media all and (max-width: 768px) {
                font-size: 56px;
                width: 96%;
                padding-bottom: 34px;
            }
            @media all and (max-width: 576px) {
                font-size: 46px;
                padding-bottom: 30px;
            }
        }
        p {
            font-size: 18px;
            line-height: 28px;
            color: #999999;
            width: 92%;
            @media all and (max-width: 1200px) {
                text-shadow: 1px 1px black;
            }
            @media all and (max-width: 992px) {}
            @media all and (max-width: 768px) {
                font-size: 16px;
                line-height: 24px;
            }
            @media all and (max-width: 576px) {
                width: 100%;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
    &__btn {
        padding-top: 74px;
        @media all and (max-width: 992px) {
            padding-top: 70px;
        }
        @media all and (max-width: 768px) {
            padding-top: 60px;
        }
        @media all and (max-width: 576px) {
            padding-top: 40px;
        }
        button {
            background: #57B8FF;
            padding: 21px 34px;
            margin-right: 40px;
            &:hover {
                background: #80858F;
            }
            @media all and (max-width: 1200px) {}
            @media all and (max-width: 992px) {}
            @media all and (max-width: 768px) {
                padding: 16px 24px;
            }
            @media all and (max-width: 576px) {}
        }
        a {
            font-size: 18px;
            &:hover {
                color: #FAC422;
            }
            @media all and (max-width: 992px) {
                font-size: 16px;
            }
            @media all and (max-width: 768px) {
                font-size: 14px;
            }
            @media all and (max-width: 576px) {
                font-size: 12px;
            }
        }
    }
    &__img {
        img {
            @media all and(max-width: 1200px) {
                position: absolute;
                right: 0;
            }
            @media all and(max-width: 768px) {
                width: 70%;
            }
        }
    }
}

// sponsors----------------------------------
.sponsors {
    background: #FDD04A;
    width: 100%;
    @media all and(max-width: 1200px) {}
    @media all and(max-width: 992px) {}
    @media all and(max-width: 768px) {}
    @media all and(max-width: 576px) {}
    &__wrap {
        width: 100%;
        &_title {
            text-align: center;
            padding-top: 130px;
            @media all and(max-width: 1200px) {
                padding-top: 100px;
            }
            @media all and(max-width: 992px) {
                padding-top: 80px;
            }
            @media all and(max-width: 768px) {
                padding-top: 40px;
            }
            @media all and(max-width: 576px) {
                padding-top: 20px;
            }
            h3 {
                font-size: 48px;
                text-transform: capitalize;
                color: #222730;
                padding-bottom: 44px;
                @media all and(max-width: 1200px) {
                    font-size: 46px;
                    padding-bottom: 42px;
                }
                @media all and(max-width: 992px) {
                    font-size: 42px;
                    padding-bottom: 38px;
                }
                @media all and(max-width: 768px) {
                    font-size: 38px;
                    padding-bottom: 32px;
                }
                @media all and(max-width: 576px) {
                    font-size: 32px;
                    padding-bottom: 26px;
                }
            }
            p {
                font-size: 16px;
                line-height: 26px;
                color: #555555;
                width: 34%;
                margin: 0 auto;
                @media all and(max-width: 1200px) {
                    line-height: 25px;
                    width: 50%;
                }
                @media all and(max-width: 992px) {
                    width: 60%;
                }
                @media all and(max-width: 768px) {
                    width: 70%;
                }
                @media all and(max-width: 576px) {
                    width: 90%;
                }
            }
        }
    }
    &__wrap-links {
        padding-top: 41px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 15px 20px;
        padding-bottom: 130px;
        button {
            background: rgba(255, 255, 255, 0.3);
            padding: 16px 39px;
            border: 8px solid rgba(255, 255, 255, 0.35);
            border-radius: 12px;
            @media all and(max-width: 992px) {
                padding: 14px 34px;
            }
            @media all and(max-width: 768px) {
                padding: 13px 32px;
                border: 7px solid rgba(255, 255, 255, 0.35)
            }
            @media all and(max-width: 576px) {
                padding: 12px 28px;
                border: 6px solid rgba(255, 255, 255, 0.35)
            }
            a {
                font-size: 20px;
                color: #141820;
                font-weight: bold;
                @media all and(max-width: 768px) {
                    font-size: 16px;
                }
                @media all and(max-width: 576px) {
                    font-size: 14px;
                }
            }
        }
    }
}

.advantages {
    background: url(../img/sponsors/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    &__wrapper {
        padding: 130px 0px;
        @media all and (max-width: 1200px) {
            padding: 120px 0px;
        }
        @media all and (max-width: 992px) {
            padding: 100px 0px;
        }
        @media all and (max-width: 768px) {
            padding: 90px 0px;
        }
        @media all and (max-width: 576px) {
            padding: 70px 0px;
        }
    }
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 61px;
    }
    &__link {
        padding-bottom: 15px;
        a {
            display: flex;
            align-items: center;
            font-size: 16px;
            line-height: 16px;
            // text-transform: uppercase;
            color: #57B8FF;
            @media all and (max-width: 768px) {
                font-size: 14px;
                line-height: 14px;
            }
            @media all and (max-width: 576px) {
                font-size: 12px;
                line-height: 12px;
            }
        }
    }
    &__title {
        width: 60%;
        padding-bottom: 39px;
        @media all and (max-width: 1200px) {
            width: 70%;
            padding-bottom: 36px;
        }
        @media all and (max-width: 992px) {
            width: 80%;
            padding-bottom: 32px;
        }
        @media all and (max-width: 768px) {
            width: 90%;
            padding-bottom: 28px;
        }
        @media all and (max-width: 576px) {
            width: 100%;
            padding-bottom: 26px;
        }
        h3 {
            font-size: 64px;
            line-height: 74px;
            text-align: center;
            text-transform: capitalize;
            color: #FFFFFF;
            @media all and (max-width: 1200px) {
                font-size: 62px;
                line-height: 70px;
            }
            @media all and (max-width: 992px) {
                font-size: 50px;
                line-height: 64px;
            }
            @media all and (max-width: 768px) {
                font-size: 46px;
                line-height: 58px;
            }
            @media all and (max-width: 576px) {
                font-size: 30px;
                line-height: 36px;
            }
        }
    }
    &__info {
        width: 54%;
        @media all and (max-width: 992px) {
            width: 60%;
        }
        @media all and (max-width: 768px) {
            width: 80%;
        }
        @media all and (max-width: 576px) {
            width: 90%;
        }
        p {
            font-size: 20px;
            line-height: 32px;
            text-align: center;
            color: rgba(223, 223, 223, 0.8);
            @media all and (max-width: 992px) {
                font-size: 19px;
                line-height: 28px;
            }
            @media all and (max-width: 768px) {
                font-size: 18px;
                line-height: 24px;
            }
            @media all and (max-width: 576px) {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
    &__desc-card {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 32px 32px;
    }
}

.desc {
    &__card-info {
        width: 586px;
        height: 212px;
        display: flex;
        background: rgba(255, 255, 255, 0.15);
        border-radius: 20px;
        @media all and (max-width: 992px) {}
        @media all and (max-width: 768px) {
            width: 448px;
            height: 186px;
        }
        @media all and (max-width: 576px) {
            width: 400px;
            height: 160px;
        }
    }
    &__card-icon {
        padding: 35px 16px 0px 35px;
        @media all and (max-width: 992px) {}
        @media all and (max-width: 768px) {
            padding: 26px 6px 0px 16px;
        }
        @media all and (max-width: 576px) {
            padding: 18px 2px 0px 12px;
        }
        p {
            color: #57B8FF;
            font-size: 30px;
            @media all and (max-width: 992px) {}
            @media all and (max-width: 768px) {
                font-size: 26px;
            }
            @media all and (max-width: 576px) {
                font-size: 22px;
            }
        }
    }
    &__card-text {
        padding-top: 35px;
        @media all and (max-width: 992px) {}
        @media all and (max-width: 768px) {
            padding-top: 26px;
        }
        @media all and (max-width: 576px) {
            padding-top: 22px;
        }
        h4 {
            font-size: 32px;
            font-weight: 400;
            padding-bottom: 19px;
            @media all and (max-width: 992px) {}
            @media all and (max-width: 768px) {
                font-size: 28px;
                padding-bottom: 16px;
            }
            @media all and (max-width: 576px) {
                font-size: 18px;
                padding-bottom: 10px;
            }
        }
        p {
            width: 90%;
            font-size: 18px;
            line-height: 28px;
            color: rgba(223, 223, 223, 0.8);
            @media all and (max-width: 992px) {}
            @media all and (max-width: 768px) {
                width: 88%;
                font-size: 14px;
                line-height: 24px;
            }
            @media all and (max-width: 576px) {
                width: 88%;
                font-size: 12px;
                line-height: 20px;
            }
        }
    }
}

.gaming {
    background-color: black;
    width: 100%;
    &__wrapper {
        padding: 117px 10px 133px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media all and (max-width: 1200px) {
            justify-content: center;
            padding: 117px 30px 133px 30px;
        }
        @media all and (max-width: 992px) {
            flex-wrap: wrap;
        }
    }
    &__inner {
        @media all and (max-width: 992px) {
            padding-bottom: 20px;
        }
    }
    &__link {
        a {
            display: flex;
            align-items: center;
            font-size: 16px;
            line-height: 16px;
            text-transform: uppercase;
            color: #57B8FF;
            padding-bottom: 15px;
            @media all and (max-width: 1200px) {}
            @media all and (max-width: 992px) {}
            @media all and (max-width: 768px) {}
            @media all and (max-width: 576px) {}
        }
    }
    &__title {
        h3 {
            width: 92%;
            font-weight: 400;
            font-size: 64px;
            line-height: 74px;
            text-transform: capitalize;
            color: #FFFFFF;
            @media all and (max-width: 1200px) {
                width: 100%;
                line-height: 72px;
            }
            @media all and (max-width: 992px) {
                font-weight: 400;
                font-size: 54px;
                line-height: 68px;
            }
            @media all and (max-width: 768px) {
                font-size: 50px;
                line-height: 62px;
            }
            @media all and (max-width: 576px) {
                font-size: 44px;
                line-height: 56px;
            }
        }
    }
    &__text {
        p {
            width: 90%;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color: rgba(223, 223, 223, 0.8);
            padding: 54px 0px 40px 0px;
            @media all and (max-width: 1200px) {
                width: 100%;
                padding: 50px 0px 40px 0px;
            }
            @media all and (max-width: 992px) {
                font-size: 18px;
                line-height: 28px;
                padding: 44px 0px 36px 0px;
            }
            @media all and (max-width: 768px) {
                font-size: 16px;
                line-height: 24px;
                padding: 28px 0px 28px 0px;
            }
            @media all and (max-width: 576px) {
                font-size: 14px;
                line-height: 22px;
                padding: 22px 0px 24px 0px;
            }
        }
    }
    &__btn {
        button {
            padding: 27px 54px;
            background: #57B8FF;
            @media all and (max-width: 1200px) {
                padding: 26px 52px;
            }
            @media all and (max-width: 992px) {
                padding: 24px 50px;
            }
            @media all and (max-width: 768px) {
                padding: 20px 44px;
            }
            @media all and (max-width: 576px) {
                padding: 16px 38px;
            }
        }
    }
    &__demonstration {
        iframe {
            border-radius: 20%;
            border: 26px solid #111214;
            width: 492px;
            height: 550px;
            @media all and (max-width: 992px) {
                border: 24px solid #111214;
                width: 400px;
                height: 340px;
            }
            @media all and (max-width: 768px) {
                border: 18px solid #111214;
                width: 500px;
                height: 340px;
            }
            @media all and (max-width: 576px) {
                border: 14px solid #111214;
                width: 300px;
                height: 240px;
            }
        }
    }
}

.customize {
    background: #2A313C;
    width: 100%;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__img {
        width: 60%;
        @media all and(max-width: 1200px) {
            width: 0%;
        }
        @media all and(max-width: 768px) {
            width: 0%;
            display: none;
        }
        img {
            @media all and(max-width: 1200px) {
                left: 0;
                opacity: 0.5;
            }
        }
    }
    &__inner {
        width: 50%;
        z-index: 0;
        @media all and(max-width: 1200px) {
            width: 100%;
            text-align: center;
        }
    }
    &__link {
        padding: 83px 0px 10px 0px;
        @media all and (max-width: 768px) {
            padding: 60px 0px 10px 0px;
        }
        @media all and (max-width: 576px) {
            padding: 40px 0px 10px 0px;
        }
        a {
            font-size: 16px;
            line-height: 16px;
            text-transform: uppercase;
            color: #57B8FF;
            @media all and (max-width: 768px) {
                font-size: 14px;
            }
            @media all and (max-width: 576px) {
                font-size: 12px;
            }
        }
    }
    &__title {
        h3 {
            font-weight: 400;
            font-size: 64px;
            line-height: 74px;
            text-transform: capitalize;
            color: #FFFFFF;
            @media all and (max-width: 1200px) {
                font-size: 60px;
                line-height: 68px;
                margin: 0 auto;
            }
            @media all and (max-width: 992px) {
                font-size: 50px;
                line-height: 62px;
            }
            @media all and (max-width: 768px) {
                font-size: 45px;
                line-height: 46px;
            }
            @media all and (max-width: 576px) {
                font-size: 35px;
                line-height: 40px;
            }
        }
    }
    &__text {
        padding: 38px 0px 54px 0px;
        @media all and(max-width: 768px) {
            padding: 24px 0px 34px 0px;
        }
        @media all and(max-width: 576px) {
            padding: 14px 0px 14px 0px;
        }
        p {
            width: 94%;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color: rgba(223, 223, 223, 0.8);
            @media all and(max-width: 1200px) {
                width: 100%;
            }
            @media all and(max-width: 768px) {
                width: 80%;
                font-size: 16px;
                margin: 0 auto;
                line-height: 26px;
            }
            @media all and(max-width: 576px) {
                font-size: 12px;
                line-height: 22px;
            }
        }
    }
    &__thumb {
        word-spacing: 18px;
        img {
            @media all and(max-width: 768px) {
                margin: 5px;
            }
        }
        img:hover {
            border: 10px solid #3B3D46;
            border-radius: 20px;
        }
    }
}

.labels {
    border-top: 1px solid black;
    &__wrapper {}
    &__inner-card {
        display: flex;
        @media all and (max-width: 768px) {
            flex-direction: column;
        }
        @media all and (max-width: 576px) {}
    }
    &__card-aim {
        background: url(../img/labels/game-scrn-gun.png);
    }
    &__card-gmpad {
        background: url(../img/labels/game-scrn-win.png);
    }
    &__card-compas {
        background: url(../img/labels/game-scrn-map.png);
    }
}

.bg-width {
    width: 100%;
    height: 732px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    @media all and (max-width: 1200px) {
        height: 600px;
    }
    @media all and (max-width: 992px) {
        height: 500px;
    }
    @media all and (max-width: 768px) {
        height: 300px;
    }
    @media all and (max-width: 576px) {
        height: 200px;
    }
    img {
        @media all and (max-width: 1200px) {}
        @media all and (max-width: 992px) {
            width: 15%;
        }
        @media all and (max-width: 768px) {}
        @media all and (max-width: 576px) {}
    }
    p {
        font-size: 48px;
        line-height: 58px;
        text-align: center;
        text-transform: capitalize;
        color: #FFFFFF;
        @media all and (max-width: 1200px) {
            font-size: 42px;
            line-height: 52px;
        }
        @media all and (max-width: 992px) {
            font-size: 38px;
            line-height: 48px;
        }
        @media all and (max-width: 768px) {
            font-size: 30px;
            line-height: 42px;
        }
        @media all and (max-width: 576px) {
            font-size: 26px;
            line-height: 32px;
        }
    }
}

.labels__icon {}

.news {
    background: black;
    width: 100%;
    padding-bottom: 130px;
    @media all and (max-width: 1200px) {
        padding-bottom: 120px;
    }
    @media all and (max-width: 992px) {
        padding-bottom: 100px;
    }
    @media all and (max-width: 768px) {
        padding-bottom: 80px;
    }
    @media all and (max-width: 576px) {
        padding-bottom: 60px;
    }
    &__wrapper {}
    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 130px 0px 64px 0px;
        @media all and (max-width: 1200px) {
            padding: 110px 0px 60px 0px;
        }
        @media all and (max-width: 992px) {
            padding: 90px 0px 56px 0px;
        }
        @media all and (max-width: 768px) {
            padding: 60px 0px 50px 0px;
        }
        @media all and (max-width: 576px) {
            padding: 30px 0px 40px 0px;
        }
    }
    &__heading-text {
        a {
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            text-transform: uppercase;
            color: #57B8FF;
            @media all and (max-width: 992px) {
                font-size: 15px;
                line-height: 15px;
            }
            @media all and (max-width: 768px) {
                font-size: 14px;
                line-height: 14px;
            }
            @media all and (max-width: 576px) {
                font-size: 12px;
                line-height: 12px;
            }
        }
        h3 {
            font-weight: 400;
            font-size: 64px;
            line-height: 74px;
            text-transform: capitalize;
            color: #FFFFFF;
            @media all and (max-width: 1200px) {
                font-size: 62px;
                line-height: 68px;
            }
            @media all and (max-width: 992px) {
                font-size: 54px;
                line-height: 60px;
            }
            @media all and (max-width: 768px) {
                font-size: 38px;
                line-height: 56px;
            }
            @media all and (max-width: 576px) {
                font-size: 28px;
                line-height: 48px;
            }
        }
    }
    &__heading-btn {
        button {
            padding: 21px 34px;
            background: #57B8FF;
            @media all and (max-width: 1200px) {}
            @media all and (max-width: 992px) {
                padding: 20px 32px;
            }
            @media all and (max-width: 768px) {
                padding: 16px 26px;
            }
            @media all and (max-width: 576px) {
                padding: 12px 18px;
            }
        }
    }
    &__inner {}
    &__articles {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media all and (max-width: 1440px) {
            justify-content: space-evenly;
        }
    }
    &__articles-current {}
    &__articles-recent {
        display: flex;
        flex-direction: column;
        padding-left: 14px;
        gap: 24px;
        @media all and (max-width: 1053px) {
            flex-direction: row;
        }
    }
}

.recent-position-horizontally {
    @media all and (max-width: 1440px) {
        flex-direction: row;
    }
}

.articles {
    &__current-info {
        img {
            width: 100%;
        }
        p {
            padding: 54px 0px 28px 0px;
            font-size: 16px;
            line-height: 16px;
            color: #57B8FF;
            @media all and (max-width: 1200px) {}
            @media all and (max-width: 992px) {
                padding: 50px 0px 24px 0px;
                font-size: 15px;
                line-height: 14px;
            }
            @media all and (max-width: 768px) {
                padding: 40px 0px 20px 0px;
                font-size: 14px;
                line-height: 12px;
            }
            @media all and (max-width: 576px) {
                padding: 30px 0px 14px 0px;
                font-size: 12px;
                line-height: 10px;
            }
        }
        h4 {
            font-size: 36px;
            line-height: 46px;
            text-transform: capitalize;
            color: #FFFFFF;
            @media all and (max-width: 1200px) {
                font-size: 34px;
                line-height: 42px;
            }
            @media all and (max-width: 992px) {
                font-size: 30px;
                line-height: 36px;
            }
            @media all and (max-width: 768px) {
                font-size: 24px;
                line-height: 30px;
            }
            @media all and (max-width: 576px) {
                font-size: 18px;
                line-height: 22px;
            }
        }
    }
    &__recent-info {
        img {
            width: 100%;
        }
        p {
            padding: 30px 0px 20px 0px;
            font-size: 16px;
            line-height: 16px;
            color: #57B8FF;
            @media all and (max-width: 992px) {
                padding: 28px 0px 18px 0px;
                font-size: 15px;
                line-height: 14px;
            }
            @media all and (max-width: 768px) {
                padding: 24px 0px 16px 0px;
                font-size: 14px;
                line-height: 12px;
            }
            @media all and (max-width: 576px) {
                padding: 20px 0px 14px 0px;
                font-size: 12px;
                line-height: 10px;
            }
        }
        h4 {
            font-size: 23px;
            line-height: 34px;
            text-transform: capitalize;
            color: #FFFFFF;
            padding-bottom: 16px;
            @media all and (max-width: 1200px) {
                font-size: 22px;
                line-height: 32px;
            }
            @media all and (max-width: 992px) {
                font-size: 20px;
                line-height: 28px;
            }
            @media all and (max-width: 768px) {
                font-size: 18px;
                line-height: 24px;
            }
            @media all and (max-width: 576px) {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}

.application {
    background: url(../img/application/bg.png);
    &__wrapper {
        text-align: center;
        margin: 0 auto;
        width: 60%;
        @media all and (max-width: 1200px) {
            width: 80%;
        }
        @media all and (max-width: 992px) {
            width: 90%;
        }
        h3 {
            padding: 126px 0px 51px 0px;
            font-size: 72px;
            line-height: 82px;
            text-align: center;
            color: #141820;
            @media all and (max-width: 1200px) {
                padding: 120px 0px 48px 0px;
                font-size: 68px;
                line-height: 76px;
            }
            @media all and (max-width: 992px) {
                padding: 110px 0px 42px 0px;
                font-size: 64px;
                line-height: 66px;
            }
            @media all and (max-width: 768px) {
                padding: 90px 0px 34px 0px;
                font-size: 52px;
                line-height: 58px;
            }
            @media all and (max-width: 576px) {
                padding: 60px 0px 28px 0px;
                font-size: 32px;
                line-height: 48px;
            }
        }
        p {
            font-weight: 400;
            font-size: 17px;
            line-height: 28px;
            text-align: center;
            color: #555555;
            @media all and (max-width: 1200px) {}
            @media all and (max-width: 992px) {
                font-size: 16px;
                line-height: 26px;
            }
            @media all and (max-width: 768px) {
                font-size: 14px;
                line-height: 22px;
            }
            @media all and (max-width: 576px) {
                font-size: 12px;
                line-height: 18px;
            }
        }
        form {
            padding: 45px 0px 130px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        input {
            padding: 26px 165px 26px 13px;
            border: 1px solid #CCCCCC;
            font-size: 18px;
            line-height: 28px;
            font-weight: 700;
            text-align: center;
            color: #555555;
            text-align: left;
            font-family: 'Orbitron';
            @media all and (max-width: 1200px) {
                padding: 26px 155px 26px 13px;
            }
            @media all and (max-width: 992px) {
                font-size: 17px;
                padding: 22px 118px 22px 10px;
            }
            @media all and (max-width: 768px) {
                font-size: 16px;
                padding: 18px 50px 18px 8px;
            }
            @media all and (max-width: 576px) {
                font-size: 14px;
                padding: 10px 0px 10px 2px;
            }
        }
        button {
            padding: 21px 32px 21px 32px;
            font-size: 18px;
            line-height: 28px;
            font-weight: 700;
            text-align: center;
            color: #FFFFFF;
            background: #57B8FF;
            font-family: 'Orbitron';
            @media all and (max-width: 992px) {
                padding: 14px 22px 14px 22px;
                font-size: 16px;
                line-height: 22px;
            }
            @media all and (max-width: 768px) {
                padding: 12px 16px 12px 16px;
                font-size: 14px;
                line-height: 18px;
            }
            @media all and (max-width: 576px) {
                padding: 10px 12px 10px 12px;
                font-size: 12px;
                line-height: 14px;
            }
        }
    }
}

.footer__row {
    display: flex;
    padding-bottom: 49px;
    @media all and (max-width: 992px) {
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 28px;
    }
    @media all and (max-width: 576px) {
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 0px;
    }
}

.footer__row-col ul {
    list-style: none;
}

.footer {
    background: #222730;
    padding: 70px 0;
    @media all and(max-width: 992px) {
        padding: 60px 0;
    }
    @media all and(max-width: 576px) {
        padding: 40px 0;
        text-align: center;
    }
    &__copyright {
        border-top: 1px solid #3E3E3E;
        display: flex;
        justify-content: center;
        padding-top: 19px;
        @media all and(max-width: 992px) {
            padding-top: 15px;
        }
        @media all and(max-width: 576px) {
            padding-top: 10px;
        }
        p {
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            color: #898989;
        }
    }
}

.footer__row-col {
    width: 25%;
    padding: 0 15px;
    @media all and(max-width: 992px) {
        width: 30%;
    }
    @media all and(max-width: 576px) {
        width: 40%;
        padding: 0px 0px 20px 0px;
    }
    p {
        font-size: 15px;
        line-height: 25px;
        color: #999999;
        @media all and(max-width: 992px) {
            font-size: 14px;
            line-height: 22px;
        }
        @media all and(max-width: 576px) {
            font-size: 12px;
            line-height: 20px;
        }
    }
    img {
        width: 100%;
    }
}

.footer__row-col h4 {
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 35px;
    font-weight: 500;
    @media all and(max-width: 992px) {
        margin-bottom: 25px;
        gap: 14px;
        font-size: 16px;
    }
    @media all and(max-width: 576px) {
        margin-bottom: 18px;
    }
}

.footer__row-col h4::before {}

.footer__row-col ul li:not(:last-child) {
    margin-bottom: 20px;
    @media all and(max-width: 992px) {
        margin-bottom: 18px;
    }
    @media all and(max-width: 576px) {
        margin-bottom: 14px;
    }
}

.footer__row-col ul li a {
    font-size: 14px;
    text-transform: capitalize;
    color: #999999;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer__row-col ul li a:hover {
    color: #FFFFFF;
    padding-left: 8px;
}

.footer__row-col .social-links a {
    display: inline-block;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #999999;
    transition: all 0.5s ease;
}

// .frequent-link {
//     font-size: 16px;
//     color: #57B8FF;
//     padding-bottom: 24px;
//     display: flex;
//     align-items: center;
//     &:hover {
//         color: #FAC422;
//     }
//     img {
//         margin-right: 10px;
//     }
//     @media all and (max-width: 992px) {
//         font-size: 15px;
//     }
//     @media all and (max-width: 768px) {
//         font-size: 14px;
//     }
//     @media all and (max-width: 576px) {
//         font-size: 12px;
//     }
// }